<div class="containerModal">
        <div class="contenModal">
        <p>
        Name of the planet: {{planetInfo?.name}}
        </p>
        <p>
        Population of the planet: {{planetInfo?.population}}
        </p>
        <p>
        Diameter of the planet: {{planetInfo?.diameter}}
        </p>
       <p>
        Species of the planet: {{planetInfo?.species}}
        </p>
        <button type="button"  (click)='close("close")' >
                Close
        </button>
        </div>
</div>