  /* Application-wide Styles */

  body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }
  

  /* Set the animation, color, size and hide the text */
  