body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}
.star2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgb(64, 117, 68);
}
.star3 {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgb(161, 20, 131);
}
.star4 {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 238, 0);
}
