
  .contenedor {
    font-size: 200%;
    place-items: center;
    min-height: 100px;
    text-align: center;
    display: grid;
    grid-template-areas:
    'titulo'
    'menu'
    'intro'
    'logo';

    vertical-align: baseline;
    box-sizing: content-box;
    
  }
  .menu{
    font-size: large;
    place-items: center;
    width: 50%;
    grid-area: menu;
    display: grid;
    grid-template-areas:
    'enlace1 enlace2 enlace3';
    gap: 20px;
    padding: 30px;


    background-color: grey;
    border-radius: 1%;
  }
  .enlace1{
    grid-area: enlace1;
    text-align: left;
    font-size: 2rem;
    height: 300px;
    width: 300px;
    
  }
  .enlace2{
    grid-area: enlace2;
    text-align: center;
    font-size: 2rem;
    height: 300px;
    width: 300px;
  }
  .enlace3{
    grid-area: enlace3;
    text-align: right;
    font-size: 2rem;
    height: 300px;
    width: 300px;
  }
  .titulo{
    color: #FFFF82;
    grid-area: titulo;
  }
  .image{
    opacity: 1;
    display: inline;
    width: 100%;
    height: 100%;
    border-radius: 2%;

  }
  .ruta {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
    
  a{
    
    background-color: grey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
      
  }

  .enlace1:hover .img1 {
    opacity: 0.3;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .enlace2:hover .img2 {
    opacity: 0.3;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .enlace3:hover .img3 {
    opacity: 0.3;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .enlace1:hover .ruta1 {
    opacity: 1;
  }

  .enlace2:hover .ruta2 {
    opacity: 1;
  }

  .enlace3:hover .ruta3 {
    opacity: 1;
  }
