
  .contenedor {
    font-size: 200%;
    place-items: center;
    min-height: 200px;
    text-align: center;
    display: grid;
    grid-template-areas:
    'titulo'
    'menu'
    'intro'
    'logo';

    vertical-align: baseline;
    box-sizing: content-box;
    
  }
 
  .titulo{
    color: #FFFF82;
    grid-area: titulo;
  }
 