.contenedor {

  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-rows: auto;
  place-items: center;

}




.contenedor2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  
}
