
<div class="formulario">
<h2>New character</h2> 
<form (ngSubmit)="addCharacter()" #myForm="ngForm" class="form">

    <label for="name">Character name: </label>
    <input id="new-character" type="text" required name="name" [(ngModel)]="character.name"/>

    <label for="age">Character age: </label>
    <input id="new-character-age" type="number" required name="age" [(ngModel)]="character.age"/>


    <label for="gender">Character gender: </label>
    <select name="new-character-gender" class="input" [(ngModel)]="character.gender" required>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select><br>
  
    <label for="species">Character species: </label>
    <input id="new-character-species" type="text" name="species" [(ngModel)]="character.species"/>

    <label for="weapon">Character weapon: </label>
    <input id="new-character-weapon" type="text" name="weapon" [(ngModel)]="character.weapon"/>
    
    <label for="url">Character image: </label>
    <input id="new-character-url" type="text" name="url" [(ngModel)]="character.url"/>

    <button  routerLink="character">Back</button>
    <button  type="submit" [disabled]="!myForm.form.valid">Add</button>
</form>
 

</div>
