<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Descripción</h5>
                <p class="grey-text text-lighten-4">Página para la asignatura de desarrollo rápido de aplicaciones de la universidad Almería.</p>
              </div>
              <div class="col l4 offset-l2 s12">
              <p>Autor: Aarón Blanco Álvarez</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>